# This baseline file allows PHPStan to ignore pre-existing errors
# Run: phpstan analyse --generate-baseline to update this file

parameters:
    ignoreErrors:
        # These are intentional Laravel patterns that don't need strict typing
        -
            message: '#Call to an undefined method#'
            path: app/Http/Controllers/*
        -
            message: '#Access to an undefined property#'
            path: app/Models/*
        -
            message: '#Call to an undefined static method#'
            path: app/Filament/*
        -
            message: '#Undefined variable#'
            path: app/*
        -
            message: '#Parameter .* has no type hint#'
            path: app/Http/Controllers/*
